body {
  display: flexbox;
  margin: 0;
  padding: 2rem;
  background-color: palegoldenrod;
  color: brown;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-transform: uppercase;
}

ul {
  padding: 0;
}

li {
  margin: 2rem;
  list-style-type: square;
}
